In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,31,32,33,34,35,36,37
0,6954.4673,1738.9973,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9999,0.0085,1,1,-1.0,205.524050,28.341480,R0000001,1
1,7111.1323,1756.4988,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9991,-0.0041,1,1,-1.0,205.522096,28.341672,R0000002,1
2,6884.0669,1784.6356,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9997,-0.0023,1,1,-1.0,205.524928,28.341980,R0000003,1
3,6604.6484,1786.4238,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,1.0000,0.0086,1,1,-1.0,205.528412,28.342000,R0000004,1
4,7284.2275,1819.0413,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,1.0000,0.0000,99,99,-1.0,205.519938,28.342358,R0000005,1

In [4]:
#Preprocessing
df = df[df['21'] != -99.999]
df = df[df['21'] < 22]
df = df[df['33'] > 0.9]

#Calculating Luminosities
L = np.power(10, -0.4*df[df['21'] != -99.999]['21'])

In [5]:
#converting into cartesian coordinates

def cartesian(dec,RA,r):
    x=r*np.sin(dec)*np.cos(RA)
    y=r*np.sin(dec)*np.sin(RA)
    z=r*np.cos(dec)
    return (x,y,z)
dec=df['35']
RA=df['34']
r=10.4
x, y, z = cartesian(dec,RA,r)


#assuming spherical system, calculating the origin
x_center = (x.min()+x.max())/2
y_center = (y.min()+y.max())/2
z_center = (z.min()+z.max())/2


#shifting the origin
x1 = x - x_center
y1 = y - y_center
z1 = z - z_center

In [6]:
#assiging the cartesian cooridinates to the dataframe

df['x1'] = x1
df['y1'] = y1
df['z1'] = z1

In [7]:
#Scaling up the coordinates for better accuracy in result

df['x1'] = df['x1']*(10**3)
df['y1'] = df['y1']*(10**3)
df['z1'] = df['z1']*(10**3)
df['L'] = L

In [8]:
#getting the limits of the for iteration
ma = np.sum(df['L'])
x_max = np.abs(df['x1']).max()
y_max = np.abs(df['y1']).max()
z_max = np.abs(df['z1']).max()

x_min = np.abs(df['x1']).min()
y_min = np.abs(df['y1']).min()
z_min = np.abs(df['z1']).min()

hi = np.max([x_max, y_max, z_max])
lo = np.min([x_min, y_min, z_min])
hi = np.round(hi)
lo = np.round(lo)
hi = int(hi)
lo = int(lo)
print(hi)
print(lo)

284
0

In [9]:
#Calculating the the radius

cum = 0
for i in range(lo, hi):
    cum = np.sum(df[(df['x1']**2 + df['y1']**2 + df['z1']**2) < i**2]['L'])
    if(cum > ma/2):
        print(i)
        break;
print("Half-Light Radius is:")
print(i*3.262)

27
Half-Light Radius is:
88.074